.boxes{
    background: #002A3B;
    padding: 40px 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saperator{
    width: 3px;
    height: 100px;
    background: rgb(199, 196, 196);
}